<% include partials/header %>
<center>
    <form class="ui form" action="/" method="POST">
        <div class="five wide field">
            <h3>Location ID</h3>
            <input type="text" name="location" placeholder="Location ID">
        </div>
        <button class="ui blue button">Get Orders List</button>
    </form>
</center>
<% include partials/footer %>