<% include partials/header %>

<center><h1>Order List</h1></center>

<form class="ui form" action="/" method="POST">
  <div class="five wide field">
      <h3>Location ID</h3>
      <input type="text" name="location" placeholder="Location ID">
  </div>
  <button class="ui blue button">Get Orders List</button>
</form>

<table class="ui celled structured table">
  <thead>
    <tr>
      <th rowspan="2">Order ID</th>
      <th rowspan="2">Ticket ID</th>
      <th colspan="3">Items</th>
    </tr>
    <tr>
      <th>name</th>
      <th>units</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < 5; i++) { %>
    <tr>
      <td ><%= orderData[i].orderID %></td>
        <td ><%= orderData[i].tickets[0].id %> ticket</td>
        <td>
            <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
              <%= orderData[i].tickets[0].items[j].name %> <br>
              <%} %>
        </td>
        <td>
            <% for(var j=0; j < orderData[i].tickets[0].items.length; j++) { %>
              <%= orderData[i].tickets[0].items[j].units %> <br>
              <%} %>
          </td>
    
    </tr>
    <% } %>
  </tbody>
</table>


<script>
  // const getLocation = async () => {
  //   var locationID = document.getElementById('location').value;
  //   const response = window.location.replace(`http://localhost:5000/orders/${locationID}`);
  // }
</script>
<% include partials/footer %>